POSTGRES_USER=admin
POSTGRES_PASSWORD=password_segreta
POSTGRES_DB=catalogo_db
POSTGRES_HOSTNAME=db

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET_NAME=products
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword